@page "/tasks"
@using Taskman.Components
@inject miniapp.Services.AuthService Auth
@inject ITaskService TaskService
@inject NavigationManager Nav
@inject IJSRuntime JS
@implements IDisposable
@using System.Text.Json


<NavBar />

<div class="mobile"
     style="display: flex; flex-wrap: wrap; margin-bottom: 20px; gap: 5px; justify-content: space-between;">
    <h3 style="margin-bottom: 30px;">📝 Task Manager </h3>
    @if (Auth.IsLoggedIn)
    {
        @if (tasks.Any())
        {
            <div class="i">
                <i
                    style="font-size: 15px; color: white; margin-top: 5px; background: rgb(0, 107, 0, 0.7); padding: 0 30px; margin: 0; border-bottom-right-radius: 20px; border-top-right-radius: 20px; display: flex; align-items: center;">
                    @tasks.Count task(s) added</i>
                </div>
            }
        }
    </div>

    <h5>Priority</h5>

    <div style="display: flex; flex-wrap: wrap; gap: 10px;">
        <select name="" id="" class="opt-btn"
                style="padding: 10px; border: none; background: rgb(255, 166, 0, 0.2); width: 50%; border-radius: 10px;">
            <option value="All">All</option>
            <option value="Pending">Pending</option>
            <option value="Done">Done</option>
        </select>
        <div class="opt-btn">
            <button class="btn-hov"
                    style="padding: 10px; border: none; background: rgb(255, 166, 0, 0.2); border-radius: 10px;"
                    @onclick="AllTasks">All</button>
            <button class="btn-hov"
                    style="padding: 10px; border: none; background: rgb(255, 166, 0, 0.2); border-radius: 10px;"
                    @onclick="Pending">⏳
                Pending</button>
                <button class="btn-hov"
                        style="padding: 10px; border: none; background: rgb(255, 166, 0, 0.2); border-radius: 10px;"
                        @onclick="Completed">✅
                    Done</button>
                </div>
            </div>

            <div style="display: flex; flex-wrap: wrap; gap: 10px; padding: 30px 0; width: 100%">
                <div style="">
                    <label for="title">Title:</label>
                    <input type="text" placeholder="enter task title..." @bind="taskTitle"
                           style="padding: 10px; border: none; background: rgb(255, 166, 0, 0.2); width: 100%; border-radius: 10px;" />
                </div>

                <div class="input-container">
                    <label for="title">Priority:</label>
                    <select name="Priority" id="" @bind="taskPriority"
                            style="padding: 13px; border: none; background: rgb(255, 166, 0, 0.2); width: 100%; border-radius: 10px;">
                        @{
                            var values = Enum.GetValues<Priority>();
                        }
                        @foreach (var value in values)
                        {
                            <option value="@value">
                                @if (value == Priority.Low)
                                {
                                    <text>🔴</text>
                                }
                                else if (value == Priority.Medium)
                                {
                                    <text>🟡</text>
                                }
                                else if (value == Priority.High)
                                {
                                    <text>🟢</text>
                                }
                                @value.ToString()
                            </option>
                        }
                    </select>
                </div>
            </div>

            <div style="display: flex; flex-wrap: wrap; gap: 10px; margin-bottom: 50px;">
                <ButtonCard BgColor="rgb(140, 0, 140, 0.3)" BtnText="➕ AddTask" OnClick="AddTask" />
            </div>

            <hr />

            @if (!Auth.IsLoggedIn)
            {
                <NotLoginCard Title="User not logged in..." SubTitle="Click to log in..." />
            }
            else
            {
                <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                    <input type="text" placeholder="search task" @bind-value="searchTask" @bind-value:event="oninput" />
                </div>
                @if (!string.IsNullOrWhiteSpace(searchTask) && !FilteredItems.Any())
                {
                    <p style="margin:10px 0; color: red;">🔍 No task(s) found.</p>
                }

                <div style="display: flex; flex-wrap: wrap; justify-content: space-between; padding-top: 10px; margin-top: 40px;">
                    <h4>📁 Available Task</h4>
                    @if (confirmClear)
                    {
                        <div>
                            <Confirm Title="Sure to clear all tasks?" Text1="✅ Clear" Text2="❌ Cancel" ConfirmBtn="ClearTask" CancelBtn="() => confirmClear = false" />
                        </div>
                        
                    }
                    else
                    {
                        <ButtonCard BgColor="rgb(140, 0, 140, 0.3)" BtnText="🧹 Clear All Tasks" OnClick="() => confirmClear = true" />
                    }
                </div>

                @if (tasks.Any())
                {
                    @if (isLoading)
                    {
                        <LoadingCardMinor LoadingState="⏳ Loading Available Tasks..." />

                    }
                    else
                    {
                        <div style="background: rgba(228, 228, 228, 0.1);">
                            <ul style="margin: 20px 0px 40px;">
                                @foreach (var task in FilteredItems)
                                {
                                    @if (activeNotifyTaskId == task.Id)
                                    {
                                        <Confirm Title="Confirm to complete this task." Text1="✅ Confirm" Text2="❌ Cancel" ConfirmBtn="() => CompleteTask(task.Id)" CancelBtn="() => activeNotifyTaskId = null" />
                                    }
                                    else if (task.IsComplete)
                                    {
                                        <li class='@(task.IsComplete ? "disabled-container" : "")'
                                            style="margin: 10px 0; padding: 7px; list-style: none; border-left: 3px solid purple; text-decoration: line-through; background: rgb(129, 129, 129, 0.1);">
                                            <TaskCard Task="@task" TaskIdToDelete="@taskIdToDelete" OnRequestDelete="ShowDeleteConfirmation"
                                                      OnDelete="DeleteTask" OnToggle="ToggleTask" />
                                        </li>
                                    }
                                    else
                                    {
                                        <li
                                            style="margin: 10px 0; padding: 7px; list-style: none; border-left: 3px solid purple; background: rgb(129, 129, 129, 0.1);">
                                            <TaskCard Task="@task" TaskIdToDelete="@taskIdToDelete" OnRequestDelete="ShowDeleteConfirmation"
                                                      OnDelete="DeleteTask" OnToggle="ToggleTask" />
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    }
                }
                else
                {
                    @if (!isLoading)
                    {
                        <div
                            style="display: flex; width: 100%; height: 100%; background: rgb(137, 137, 137, 0.1); margin: 20px 0 30px; height: 50vh; align-items: center; justify-content: center;">
                            <b>📁 No tasks added.</b>
                        </div>
                    }
                    else
                    {
                        <div style="margin-bottom: 60px;">
                            <LoadingCardMinor LoadingState="⏳ Loading Available Tasks..." />
                        </div>
                    }
                }
            }

@code {
    private string taskTitle = "";
    private string searchTask = "";
    private bool isLoading { get; set; }
    private int? taskIdToDelete = null;

    private Priority taskPriority = Priority.Select_Priority;

    private string trimmedTaskTitle => taskTitle.Trim().ToUpper();

    public List<AppTask> tasks = new();

    public List<AppTask> completedTasks = new();
    public bool confirmClear = false;

    private AppTask Taskss = new();

    private string currentFilter = "All";

    private bool IsDisabled = false;

    private int? activeNotifyTaskId;

    private async Task CompleteTask(int id)
    {
        await TaskService.ToggleCompleted(id);
        RefreshTasks();
        activeNotifyTaskId = null;
    }

    private void ShowDeleteConfirmation(int id)
    {
        if (id == -1)
        {
            taskIdToDelete = null;
            return;
        }

        if (taskIdToDelete == id)
            taskIdToDelete = null;
        else
            taskIdToDelete = id;
    }

    private IEnumerable<AppTask> FilteredItems
    {
        get
        {
            var allTasks = tasks;

            var statusFiltered = currentFilter switch
            {
                "Pending" => allTasks.Where(t => !t.IsComplete),
                "Done" => allTasks.Where(t => t.IsComplete),
                _ => allTasks
            };

            if (!string.IsNullOrWhiteSpace(searchTask))
            {
                statusFiltered = statusFiltered.Where(t =>
                    t.Title != null &&
                    t.Title.Contains(searchTask, StringComparison.OrdinalIgnoreCase));
            }

            return statusFiltered;
        }
    }

    protected override Task OnInitializedAsync()
    {
        isLoading = true;
        return Task.CompletedTask;
    }

    private bool _loaded;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !_loaded)
        {
            _loaded = true;

            await TaskService.LoadTasks();

            RefreshTasks();

            isLoading = false;

            StateHasChanged();
        }
    }

    protected override void OnInitialized()
    {
        TaskService.OnChange += HandleStateChanged;
    }

    private async Task AddTask()
    {
        if (string.IsNullOrEmpty(taskTitle) || taskPriority == Priority.Select_Priority) return;

        TaskService.Add(trimmedTaskTitle, taskPriority);
        taskIdToDelete = null;

        taskTitle = "";
        taskPriority = Priority.Select_Priority;

        RefreshTasks();

        if (Auth.IsLoggedIn)
        {
            await SaveTask();
        }
    }

    private async Task EditTask(int id)
    {
        if (string.IsNullOrEmpty(taskTitle) || taskPriority == Priority.Select_Priority) return;

        TaskService.Edit(id, trimmedTaskTitle, taskPriority);

        taskTitle = "";
        taskPriority = Priority.Select_Priority;

        RefreshTasks();

        if (Auth.IsLoggedIn)
        {
            await SaveTask();
        }
    }

    private async Task MoveCompletedTask()
    {
        TaskService.MoveTask(trimmedTaskTitle, taskPriority);

        RefreshTasks();

        if (Auth.IsLoggedIn)
        {
            await SaveTask();
        }
    } 

    private void AllTasks()
    {
        currentFilter = "All";
    }

    private void Pending()
    {
        currentFilter = "Pending";
    }

    private void Completed()
    {
        currentFilter = "Done";
    }

    private Task ToggleTask(int id)
    {
        Console.WriteLine($"Clicked Task: {id}");

        activeNotifyTaskId = id;
        IsDisabled = true;

        StateHasChanged();

        return Task.CompletedTask;
    }

    private async Task DeleteTask(int id)
    {
        TaskService.Delete(id);
        taskIdToDelete = null;

        taskIdToDelete = null;

        RefreshTasks();

        if (Auth.IsLoggedIn)
        {
            await SaveTask();
        }
    }

    private async Task ClearTask()
    {
        TaskService.ClearAllTask();
        confirmClear = false;

        if (Auth.IsLoggedIn)
        {
            await SaveTask();
            await TaskService.LoadTasks();
        }
    }

    private async Task SaveTask()
    {
        await TaskService.SaveTask();
    }

    private void RefreshTasks()
    {
        tasks = TaskService.GetAll();
        StateHasChanged();
    }

    private void HandleStateChanged()
    {
        RefreshTasks();
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        TaskService.OnChange -= HandleStateChanged;
    }
}








